In [1]:
# Import the required packages
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
from pyspark.sql.functions import when
from pyspark.sql.functions import sum

In [2]:
# Initialize the Spark Session
spark=SparkSession.builder.appName("parquetFile").getOrCreate()

In [3]:
# Using PySpark create the Dataframes for the parquet files

aDF=spark.read.parquet("C:/Users/User/Downloads/data/resources/a.parquet")
bDF=spark.read.parquet("C:/Users/User/Downloads/data/resources/b.parquet")
cDF=spark.read.parquet("C:/Users/User/Downloads/data/resources/c.parquet")
dDF=spark.read.parquet("C:/Users/User/Downloads/data/resources/d.parquet")
eDF=spark.read.parquet("C:/Users/User/Downloads/data/resources/e.parquet")
fDF=spark.read.parquet("C:/Users/User/Downloads/data/resources/f.parquet")
gDF=spark.read.parquet("C:/Users/User/Downloads/data/resources/g.parquet")

In [10]:
gDF.printSchema()

root
 |-- Amount: double (nullable = true)
 |-- Value: string (nullable = true)
 |-- ProductNumber: string (nullable = true)
 |-- CategoryId: long (nullable = true)
 |-- Type: long (nullable = true)
 |-- IncotermsCity: string (nullable = true)
 |-- PayDate: timestamp_ntz (nullable = true)
 |-- TransactionId: long (nullable = true)

In [10]:
# print("The following is the DataFrame for the a.parquet file")
# aDF.show()
# print("The following is the DataFrame for the b.parquet file")
# bDF.show()
# print("The following is the DataFrame for the c.parquet file")
# cDF.show()
# print("The following is the DataFrame for the d.parquet file")
# dDF.show()
print("The following is the DataFrame for the e.parquet file")
eDF.show()
# print("The following is the DataFrame for the f.parquet file")
# fDF.show()
# print("The following is the DataFrame for the g.parquet file")
# gDF.show()

The following is the DataFrame for the e.parquet file
+-----------+----+
|CustomerId |Name|
+-----------+----+
|          1|   A|
|          2|   B|
|          3|   C|
|          4|   D|
|          5|   F|
|          6|   G|
|          7|   H|
|          8|   I|
|          9|   J|
|         10|   K|
|         11|   L|
|         12|   M|
|         13|   N|
|         14|   O|
|         15|   P|
|         16|   Q|
|         17|   R|
|         18|   T|
|         19|   S|
|         20|   V|
+-----------+----+
only showing top 20 rows

In [14]:
# Rename the "Name" column of the dDF to "ProgramName" (assumption)
# Rename the "Name" column of the cDF to "CategoryName" (assumption)

dDF = dDF.withColumnRenamed("Name","ProgramName")
cDF = cDF.withColumnRenamed("Name","CategoryName")
# dDF.show()

What is the revenue (in euros) created and received in 2021?

In [ ]:
# Using the INNER JOIN function merge the DataFrames a and g on the "TransactionID" value

merged_df = aDF.join(gDF, on="TransactionId", how="inner")
merged_df.show()

In [ ]:
# As we require the revenue that was created and received in 2021, the column "PayDate" is filtered to keep only the transactions that were paid in 2021

# Filter dataframe to keep only entries from the year 2021
filtered_df = merged_df.filter(col("PayDate").contains("2021"))

# Show the filtered dataframe
filtered_df.show()

In [9]:
# First assumption, convert the transactions that are in USD to EUR based on the average transaction rate of 2021. Source: https://www.exchangerates.org.uk/USD-EUR-spot-exchange-rates-history-2021.html

# Convert USD amounts to EUR using the conversion rate 0.8458
converted_df = filtered_df.withColumn("Amount", when(filtered_df["Value"] == "USD", filtered_df["Amount"] * 0.8458).otherwise(filtered_df["Amount"]))

# Change all instances of "USD" in the "Value" column to "EUR"
converted_df = converted_df.withColumn("Value", when(filtered_df["Value"] == "USD", "EUR").otherwise(filtered_df["Value"]))

# Show the converted dataframe
converted_df.show()

# Sum the values in the "Amount" column
total_revenue = converted_df.agg(sum("Amount")).collect()[0][0]

print(f"The revenue (in euros) created and received in 2021 is {total_revenue}")

+-------------+-------------------+------+----------+-----------------+--------+-----+--------------+----------+----+-------------+-------------------+
|TransactionId|       CreationDate|UserId|CustomerId|SalesDocumentItem|  Amount|Value| ProductNumber|CategoryId|Type|IncotermsCity|            PayDate|
+-------------+-------------------+------+----------+-----------------+--------+-----+--------------+----------+----+-------------+-------------------+
|     10000145|2021-10-10 00:00:00|  6064|       309|          1000842|   807.0| EUR |6001-1330-9400|        13|   1|          SON|2021-07-12 00:00:00|
|     10000146|2021-10-05 00:00:00|  7423|       950|          1000388|352.6986|  EUR|6829-1900-0100|         2|   1|       BOSTON|2021-10-23 00:00:00|
|     10000147|2021-03-18 00:00:00|  8564|       418|          1000229|   939.0| EUR |6159-1700-2100|        19|   1|          SON|2021-09-15 00:00:00|
|     10000148|2021-08-09 00:00:00|  6466|       732|          1000026|   203.0| EUR |6001-1800-8704|         2|   2|          SON|2021-07-05 00:00:00|
|     10000149|2021-06-28 00:00:00|  3603|       922|          1000538|    50.0| EUR |6525-1500-8601|        17|   3|          SON|2021-06-01 00:00:00|
|     10000150|2021-06-01 00:00:00|  9210|       937|          1000792|   247.0| EUR |6525-1501-5103|         9|   3|          SON|2021-06-08 00:00:00|
|     10000151|2021-08-20 00:00:00|  5715|        75|          1000886|   341.0| EUR |6783-1500-0002|        11|   2|          SON|2021-12-01 00:00:00|
|     10000152|2021-01-27 00:00:00|  7224|       824|          1000444|    27.0| EUR |6309-2100-1900|        18|   1|          SON|2021-06-09 00:00:00|
|     10000153|2021-01-14 00:00:00|  4168|       478|          1000390|    61.0| EUR |6783-1500-0602|         3|   1|          SON|2021-11-14 00:00:00|
|     10000155|2021-06-07 00:00:00|  5936|        91|          1000439|532.0082|  EUR|6906-1904-0607|        12|   3|       BOSTON|2021-09-28 00:00:00|
|     10000156|2021-10-10 00:00:00|  1498|       172|          1000264|525.2418|  EUR|6783-1500-0002|        14|   0|       BOSTON|2021-10-24 00:00:00|
|     10000157|2021-08-08 00:00:00|    84|       163|          1000538|428.8206|  EUR|6734-1800-2502|        20|   1|       BOSTON|2021-11-26 00:00:00|
|     10000158|2021-07-10 00:00:00|  3496|       612|          1000737| 672.411|  EUR|6525-2100-0400|        11|   0|       BOSTON|2021-05-09 00:00:00|
|     10000159|2021-03-31 00:00:00|  2275|       888|          1000473|  46.519|  EUR|6309-1500-1702|         2|   0|       BOSTON|2021-02-08 00:00:00|
|     10000160|2021-10-02 00:00:00|  8335|       513|          1000428|   917.0| EUR |6309-1500-1702|        19|   3|          SON|2021-11-30 00:00:00|
|     10000161|2021-03-24 00:00:00|  6781|        74|          1000217|   182.0| EUR |6309-1600-4601|         7|   1|          SON|2021-02-20 00:00:00|
|     10000163|2021-07-31 00:00:00|  1170|       266|          1000284|843.2626|  EUR|6309-2100-0700|        13|   0|       BOSTON|2021-04-11 00:00:00|
|     10000164|2021-09-03 00:00:00|  4185|       816|          1000685|477.0312|  EUR|6982-1600-3602|        17|   3|       BOSTON|2021-03-31 00:00:00|
|     10000165|2021-02-03 00:00:00|  2753|       262|          1000779|   804.0| EUR |6309-2100-1900|        12|   2|          SON|2021-11-25 00:00:00|
|     10000166|2021-10-04 00:00:00|  5692|        12|          1000288|   949.0| EUR |6001-1322-7201|        15|   0|          SON|2021-02-08 00:00:00|
+-------------+-------------------+------+----------+-----------------+--------+-----+--------------+----------+----+-------------+-------------------+
only showing top 20 rows

The revenue (in euros) created and received in 2021 is 8558293.176999994

In [ ]:
# Second assumption where we filter the table to only keep the EUR values

filtered_df_EUR = filtered_df.filter(col("Value").contains("EUR"))

# filtered_df_EUR.show()

# Sum the values in the "Amount" column
total_revenue = filtered_df_EUR.agg(sum("Amount")).collect()[0][0]

print(f"The revenue (in euros) created and received in 2021 is {total_revenue} ")

Rank the programs on biggest contribution to the received revenue of 2021

In [15]:
# First start by merging the two dataframes "cDF" and "dDF" based on the "ProgramID" column

merged_c_d = cDF.join(dDF, on="ProgramId", how="inner")
merged_c_d.show()

+---------+----------+------------+-----------+
|ProgramId|CategoryId|CategoryName|ProgramName|
+---------+----------+------------+-----------+
|        4|         1|         DJS|          D|
|        4|         2|         CHS|          D|
|        4|         3|         DIS|          D|
|        1|         4|         IOP|          K|
|        2|         5|          JL|          L|
|        3|         6|         JDS|          S|
|        1|         7|         ASD|          K|
|        1|         8|        NULL|          K|
|        2|         9|         WER|          L|
|        4|        10|         RET|          D|
|        1|        11|         VBC|          K|
|        4|        12|         SDL|          D|
|        2|        13|         SDK|          L|
|        3|        14|        SDKL|          S|
|        2|        15|         CNX|          L|
|        4|        16|         XNS|          D|
|        4|        17|        NULL|          D|
|        3|        18|        NULL|          S|
|        4|        19|         QWE|          D|
|        5|        20|         YUC|          C|
+---------+----------+------------+-----------+
only showing top 20 rows

In [18]:
# Then merge the combined cDF/dDF with the combined (filtered and converted) aDF/gDF, based on the "CategoryID" (for this case the merged aDF/gDF, as shown in the first assumption is used)

merged_cd_ag = merged_c_d.join(converted_df, on="CategoryID", how="inner")
merged_cd_ag.show()

+----------+---------+------------+-----------+-------------+-------------------+------+----------+-----------------+--------+-----+--------------+----+-------------+-------------------+
|CategoryId|ProgramId|CategoryName|ProgramName|TransactionId|       CreationDate|UserId|CustomerId|SalesDocumentItem|  Amount|Value| ProductNumber|Type|IncotermsCity|            PayDate|
+----------+---------+------------+-----------+-------------+-------------------+------+----------+-----------------+--------+-----+--------------+----+-------------+-------------------+
|        13|        2|         SDK|          L|     10000145|2021-10-10 00:00:00|  6064|       309|          1000842|   807.0| EUR |6001-1330-9400|   1|          SON|2021-07-12 00:00:00|
|         2|        4|         CHS|          D|     10000146|2021-10-05 00:00:00|  7423|       950|          1000388|352.6986|  EUR|6829-1900-0100|   1|       BOSTON|2021-10-23 00:00:00|
|        19|        4|         QWE|          D|     10000147|2021-03-18 00:00:00|  8564|       418|          1000229|   939.0| EUR |6159-1700-2100|   1|          SON|2021-09-15 00:00:00|
|         2|        4|         CHS|          D|     10000148|2021-08-09 00:00:00|  6466|       732|          1000026|   203.0| EUR |6001-1800-8704|   2|          SON|2021-07-05 00:00:00|
|        17|        4|        NULL|          D|     10000149|2021-06-28 00:00:00|  3603|       922|          1000538|    50.0| EUR |6525-1500-8601|   3|          SON|2021-06-01 00:00:00|
|         9|        2|         WER|          L|     10000150|2021-06-01 00:00:00|  9210|       937|          1000792|   247.0| EUR |6525-1501-5103|   3|          SON|2021-06-08 00:00:00|
|        11|        1|         VBC|          K|     10000151|2021-08-20 00:00:00|  5715|        75|          1000886|   341.0| EUR |6783-1500-0002|   2|          SON|2021-12-01 00:00:00|
|        18|        3|        NULL|          S|     10000152|2021-01-27 00:00:00|  7224|       824|          1000444|    27.0| EUR |6309-2100-1900|   1|          SON|2021-06-09 00:00:00|
|         3|        4|         DIS|          D|     10000153|2021-01-14 00:00:00|  4168|       478|          1000390|    61.0| EUR |6783-1500-0602|   1|          SON|2021-11-14 00:00:00|
|        12|        4|         SDL|          D|     10000155|2021-06-07 00:00:00|  5936|        91|          1000439|532.0082|  EUR|6906-1904-0607|   3|       BOSTON|2021-09-28 00:00:00|
|        14|        3|        SDKL|          S|     10000156|2021-10-10 00:00:00|  1498|       172|          1000264|525.2418|  EUR|6783-1500-0002|   0|       BOSTON|2021-10-24 00:00:00|
|        20|        5|         YUC|          C|     10000157|2021-08-08 00:00:00|    84|       163|          1000538|428.8206|  EUR|6734-1800-2502|   1|       BOSTON|2021-11-26 00:00:00|
|        11|        1|         VBC|          K|     10000158|2021-07-10 00:00:00|  3496|       612|          1000737| 672.411|  EUR|6525-2100-0400|   0|       BOSTON|2021-05-09 00:00:00|
|         2|        4|         CHS|          D|     10000159|2021-03-31 00:00:00|  2275|       888|          1000473|  46.519|  EUR|6309-1500-1702|   0|       BOSTON|2021-02-08 00:00:00|
|        19|        4|         QWE|          D|     10000160|2021-10-02 00:00:00|  8335|       513|          1000428|   917.0| EUR |6309-1500-1702|   3|          SON|2021-11-30 00:00:00|
|         7|        1|         ASD|          K|     10000161|2021-03-24 00:00:00|  6781|        74|          1000217|   182.0| EUR |6309-1600-4601|   1|          SON|2021-02-20 00:00:00|
|        13|        2|         SDK|          L|     10000163|2021-07-31 00:00:00|  1170|       266|          1000284|843.2626|  EUR|6309-2100-0700|   0|       BOSTON|2021-04-11 00:00:00|
|        17|        4|        NULL|          D|     10000164|2021-09-03 00:00:00|  4185|       816|          1000685|477.0312|  EUR|6982-1600-3602|   3|       BOSTON|2021-03-31 00:00:00|
|        12|        4|         SDL|          D|     10000165|2021-02-03 00:00:00|  2753|       262|          1000779|   804.0| EUR |6309-2100-1900|   2|          SON|2021-11-25 00:00:00|
|        15|        2|         CNX|          L|     10000166|2021-10-04 00:00:00|  5692|        12|          1000288|   949.0| EUR |6001-1322-7201|   0|          SON|2021-02-08 00:00:00|
+----------+---------+------------+-----------+-------------+-------------------+------+----------+-----------------+--------+-----+--------------+----+-------------+-------------------+
only showing top 20 rows

In [20]:
# Now rank the Programs based on their contribution


# Calculate sum of the amounts per ProgramId
sum_df = merged_cd_ag.groupBy("ProgramId").agg(sum("Amount").alias("TotalAmount"))

# Rank the ProgramIds based on the sum of amounts
ranked_df = sum_df.orderBy(col("TotalAmount").desc())

# Show the resulted rank
ranked_df.show()

+---------+-----------------+
|ProgramId|      TotalAmount|
+---------+-----------------+
|        4|8495589.937799998|
|        1|       23551.7634|
|        2|       17950.1846|
|        3|       14776.9546|
|        5|        6424.3366|
+---------+-----------------+

In [ ]:
spark.stop()